.offers {
  width: 80%;
  height: 60vh;
  display: flex;
 margin: 130px;
  padding: 0 140px;
  margin-bottom: 150px;
  justify-content: space-between;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}
.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head-1{
    padding-top: 100px;
}
.offers-left h1 {
   
  color: #171717;
  font-size: 80px;
  font-weight: 600;
}

.offers-left p {
    padding-top: 20px;
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}
.offers-left button {
  width: 282px;
  height: 80px;
  border-radius: 35px;
  border: none;
  background-color: #ff4141;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
  padding: 20px;
}
.offers-right {
    position: relative;
 flex: 1;
 display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  
}
.offers-right img{
    padding-top: 80px;
    width: 350px;
    position: absolute;
}

@media(max-width:1280px){
    .offers{
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .offers-left h1{
    font-size: 40px;
}

.offers-left p{
    font-size: 18px;
}

.offers-right img{
    width: 300px;
}

.offers-left button{
    width: 220px;
    height: 50px;
    font-size: 18px;
}
.offers-right{
  padding-top: 30px;
}
}
@media(max-width:1280px){
    .offers{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }
    .offers-left h1{
    font-size: 30px;
}

.offers-left p{
    font-size: 16px;
}

.offers-right img{
    width: 300px;
}

.offers-left button{
    width: 160px;
    height: 40px;
    font-size: 16px;
}
.offers-right{
  padding-top: 10px;
}
}